body, html{
    /*position: relative;
    min-height: 100%;*/
    background-image: url("italy.jpg");
    /*background-repeat: no-repeat;
    background-size: 40% 100%  ;*/
    height:100%;
    margin: 0;
    
}
.contain{
    display: flex;
    height:100%;
}
.leftSide{
    flex-basis:40%;
    color:azure;
    text-align: center;
    align-self: center ;
    background-color: rgba(0,0,0,0.5);

}
#footerLeft{
    position: fixed;
    bottom:0;
}
.rightSide{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: flex-end;

}
#rightIntro{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:rgb(79, 79, 163);
    padding: 100px;
    height: 100%;
}
.formSign{
align-self: stretch;
padding: 100px;
background-color: white;
font-family: Arial, Helvetica, sans-serif;
color:rgb(79, 79, 163);
font-size: 20px;
height: 100%;

}
input, label{
    display:block;
    border-radius: 7px;

}
input{
    border-color: #e5e7eb;
}
input:focus{
    border-width: 2px;
    border-color: rgb(61, 61, 99);
    box-shadow: 2px 2px bisque;
    background-color: lemonchiffon;
    
}
.firstName, .email, .password{
    float: left;
    margin-right:80px;
    
}
.lastName{
    float: left;

}
.phoneNumber{
    float:left;
}
.confirmPassword{
    float:left;
}
.error{
    border-width: 1px;
    border-color: rgb(240, 14, 14);
}
.errorWarning{
    color:rgb(240, 14, 14);
    margin:0;
    font-size: 11px;
}
#footerRight{
    height:100%;
    align-self: stretch;
   padding: 100px;
    background-color: gainsboro;

}
button{
    border-radius: 6px;
    font-size: 20px;
    width: 225px;
    padding:25px;
    background-color: blueviolet;
    color:white;
    font-weight: 700;
}
h3{
    font-size: 25px;
    color:rgb(79, 79, 163);

}
a{
    color:rgb(51, 121, 51);
    text-decoration: none;
}

/*#footerRight{
    float:right;
    height: 306px;
    width:1336px;
   padding: 100px;
    background-color: gainsboro;

}
 /*#rectangle{ create parent div named leftSide
    position:absolute;
    top:0;
    left: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    height:300px;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
 }
 */
 /*img {
     height:100%;
     width:100%;
     object-fit:contain;
     float: left;
 }

 h1{
     font-size: 200px;
     color:azure;

 }
 */
 /*#footerLeft{
     position: fixed;
     bottom:0;
     color:white;
     padding-left: 360px;
 }
 
 #footerLeft > div.caption{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 */
 /*.rightSide{
     width:60%;
     margin:0;
     padding:0;
     margin-top: 5%;
 }
 .rightSide > *{
     padding-left: 1%;
     padding-right: 1%;

 }
 */
 /*.rightSide{
     flex-basis: 60%;
     display: flex;
     flex-direction: column;
     align-self: stretch;
    padding-left: 1015px;
    margin-top: 0;
    padding-bottom: 100px;
 }
 */

 /*#rightIntro{
     position:sticky;
     right:500px;
     font-size: 20px;
     font-family: Helvetica, sans-serif;
     color:rgb(41, 41, 100)

 }

 #time{
    padding-top: 80px;
}
*/

/*form{
    position: sticky;
    min-height: 100%;
    right:100px;
    margin-top: 400px;
    margin-right: 1000px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-row-gap:  32px;
    grid-column-gap: 32px;
    
}
*/